<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The World Needs Another Task Manager!</title>
    <link href="..\static\css\style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<header class="page__header">
        <div class="header__left"></div>
		<div class="header__center">
            <h1>Twin Atom</h1>
        </div>
        <div class="header__right"></div>
	</header>
    <a href="tasks_entry.html"><button type="button" class="form__submit">Create Task</button></a>
    <a href="tasks_view.html"><button type="button" class="form__submit">View Tasks</button></a>
    {% block content %}{% endblock content %}
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item__left">Varigarble</a>
                <a class="footer__item__left">2022</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a class="footer__item__middle">Source code:</a>
                    <a class="footer__item__middle">Contact:</a>
                </div>
                <div class="footer__column">
                    <a class="footer__item__right" href="https://github.com/Varigarble?tab=repositories">GitHub</a>
                    <a class="footer__item__right" href="https://www.linkedin.com/in/gabriel-canevari-7a93a4133/">LinkedIn</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>
