{% extends "layout.html" %}
{% block content %}
    <main class="main">
        <h1>Task Addition</h1>
        <table>
            <tr>
                <th>name</th>
                <td></td>
            </tr>
            <tr>
                <th>creators</th>
                <td>
                    <select name="creators" size="number_of_options">
                        <option value="creator 1"></option>
                        <option value="creator 1"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>assigned_to</th>
                <td></td>
            </tr>
            <tr>
                <th>status</th>
                <td></td>
            </tr>
            <tr>
                <th>priority</th>
                <td></td>
            </tr>
            <tr>
                <th>start_date</th>
                <td></td>
            </tr>
            <tr>
                <th>completion_date</th>
                <td></td>
            </tr>
            <tr>
                <th>due_date</th>
                <td></td>
            </tr>
            <tr>
                <th>description</th>
                <td></td>
            </tr>
            <tr>
                <th>project_file</th>
                <td></td>
            </tr>
            <tr>
                <th>data_id</th>
                <td></td>
            </tr>
        </table>
    </main>
{% endblock content %}