{% extends "layout.html" %}
{% block content %}
    <main class="main">
        <h1>Tasks View</h1>
        <table>
            <tr>
                <th>Everything</th>
                <td>
                    <li>{{ all_tasks }}</li>
                </td>
            </tr>
            <tr>
                <th>name</th>
                <td></td>
            </tr>
            <tr>
                <th>creators</th>
                <td>
                    <form method="POST">
                        <select name="creators" size="number_of_options">
                            {% for creator in all_creators %}
                                <option value="{{ creator }}">{{creator}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="form__submit" value="Submit" name="Submit">
                        Selected = <elem class="selected_creator">{{ selected_creator }}</elem>:
                        <elem class="creators_tasks">{{ creators_tasks }}</elem>
                    </form>
                </td>
            </tr>
            <tr>
                <th>assigned_to</th>
                <td></td>
            </tr>
            <tr>
                <th>status</th>
                <td></td>
            </tr>
            <tr>
                <th>priority</th>
                <td></td>
            </tr>
            <tr>
                <th>start_date</th>
                <td></td>
            </tr>
            <tr>
                <th>completion_date</th>
                <td></td>
            </tr>
            <tr>
                <th>due_date</th>
                <td></td>
            </tr>
            <tr>
                <th>description</th>
                <td></td>
            </tr>
            <tr>
                <th>project_file</th>
                <td></td>
            </tr>
            <tr>
                <th>data_id</th>
                <td></td>
            </tr>
        </table>
    </main>
{% endblock content %}